<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>update the items</h1>
    <form action="/update/<%= item._id%>" method="post">
        <input type="text" name="name" placeholder="" value="<%= item.name%>" required>
        <input type="number" name="price" placeholder="" value="<%= item.price%>" required >
        <input type="number" name="quantity"  placeholder="" value="<%= item.quantity%>" required>
        <button type="submit">Update item</button>
    </form>
</body>
</html>l