<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="navbar">
        <nav>
          <ul>
          <a href="/"><li>Home</li>
          <a href="/blog"><li>Add Blog</li>
          <a href="/views"><li>Views</li>
          <a href="/contact"><li>Contact US</li>
          </a>
         </ul> 
        </nav>
       <div class="profile">
        <a>
            <li>Logout</li>
        </a>
       </div>
    </header>
</body>
</html>