.navbar{
    background-color: burlywood;
    height: 60px;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

 
.navbar ul{
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
}
.navbar li { 
    font-weight: 600;
    color: #333;
    cursor: pointer;
    cursor: pointer;
    transition: color 0.3s ease;     
}

.profile{
    display: flex;
    margin: auto ;
}
.profile li{
    list-style: none;
}